<% if logged_in? %>
  <div>
    <%= link_to "個別ページ", current_user %>
  </div>
  <div>
    <%= link_to "ユーザー情報を編集する", edit_user_path(current_user) %>
  </div>
  <div>
    <%= link_to "ログアウト", logout_path, method: "delete" %>
  </div>
<% else %>
  <div>
    <%= link_to 'アカウント登録をする', new_user_path %>
  </div>
  <div>
    <%= link_to 'ログインする', login_path %>
  </div>
<% end %>
