<!DOCTYPE html>
<html>
<head>
  <title>AppTemplete</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>

<% if logged_in? %>
  <p>ログインしています</p>
<% else %>
  <p>ログインしていません</p>
<% end %>

<%= yield %>

</body>
</html>
